.list-route {
  @media (min-width: 640px) {
    padding-top: 1.5rem;
    background-color: rgba(255, 255, 255, 1);
    overflow: visible;
    max-height: 100%;
  }
  background-color: rbga(247, 247, 247, 1);
  overflow-y: auto;
  max-height: 84vh;
}
