<div class="route-info">
  <div class="route-info-header">
    <span>23:05</span>
    <div class="time">
      <img src="/assets/images/pickup.svg" alt="">
      <span class="border"></span>
      <span class="duration">8 Giờ
        <br>
        <span style="font-size: 13px;">(Asian/Ho Chi Minh)</span>
      </span>
      <span class="border"></span>
      <img src="/assets/images/station.svg" alt="">
    </div>
    <span>07:05</span>
  </div>
  <div class="station">
    <div style="flex: 1 1 0%;">
      <span class="station-name">{{trip.startingPoint}}</span>
      <br>
      <span style="color: #637280; margin-top: .5rem;"></span>
    </div>
    <div style="flex: 1 1 0%; text-align:right;">
      <span class="station-name">{{trip.destinationStation}}</span>
      <br>
      <span style="color: #637280; margin-top: .5rem;"></span>
    </div>
  </div>
  <div class="divine"></div>
  <div class="route-infor-footer">
    <div class="bus-infor">
      <span class="text-orange">{{trip.Fare | currency:'VND'}}</span>
      <div class="dot"></div>
      <span class="bus-type">{{trip.CoachType}}</span>
      <div class="dot"></div>
      <span class="text-orange">{{trip.SeatsAvailable}} chỗ trống</span>
      <span mat-button [matMenuTriggerFor]="menu" class="choose-seat">Chọn ghế</span>
    </div>
    <button class="choose-route"><span>Chọn tuyến</span></button>
    <mat-menu #menu="matMenu">
      <app-seat-selection (click)="$event.stopPropagation()"></app-seat-selection>

    </mat-menu>
  </div>
</div>