<section class="home-search-container">
  <div class="home-search">
    <form class="search-form">
      <div class="search-form-header">
        <fieldset class="route-type-radio-container">
          <input type="radio" id="oneWay" name="routeType" checked>
          <label class="route-type-label" for="oneWay">Một chiều</label>
          <input type="radio" id="roundTrip" name="routeType">
          <label class="route-type-label" for="roundTrip">Khứ hồi</label>
        </fieldset>
      </div>
      <div class="search-form-body">
        <div class="locations-input-container">
          <div class="location-input">
            <label>Điểm đến</label>
            <div>
              <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto" class="input-search">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <img src="/assets/images/switch_location.svg" alt="switch location icon" class="switch-location">
          <div class="location-input">
            <label>Điểm đến</label>
            <div>
              <input class="input-search" type="text" placeholder="Pick one" aria-label="Number" matInput
                [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="date-ticket-input-container">
          <div class="date-input">
            <label>Ngày đi</label>
            <div>
              <input matInput #input [matDatepicker]="picker" (focus)="picker.open()" class=" input-search" readonly>
              <mat-datepicker #picker (closed)="input.blur()"></mat-datepicker>
            </div>
          </div>
          <div class="ticket-input">
            <label>Số vé</label>
            <div>
              <select class="quantity">
                <option *ngFor="let ticket of tickets" [value]="ticket">{{ticket}}</option>
              </select>
              <!-- <mat-select class="input-search">
                <mat-option *ngFor="let ticket of tickets" [value]="ticket">
                  {{ticket}}
                </mat-option>
              </mat-select> -->
            </div>
          </div>
        </div>
      </div>
      <div class="find-route-container">
        <button class="find-route">Tìm chuyến xe</button>
      </div>
    </form>
  </div>
</section>